{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demande d'ami</h1>
    <form method="post">
        <input type="text" name="email" placeholder="l'email de votre ami">
        <input type="submit">
    </form>
{% endblock %}

{% block title %}

{% endblock %}

