{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <section id="formulaire">
        <div class="contenu">
            <div id="popup1">
                <img id="logo" src="{{ asset('assets/css/images/logo.png') }}" alt="logo">
                <p>Recuperer mot de passE :</p>
                <form method="post">
                    <input type="password" name="password" id="inputPassword" placeholder="Nouveau mot de passE" required>
                    <input type="hidden" name="token" value="{{ token }}">

                    <div id="valider">
                        <button type="submit">ChangeR</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}